@font-face{
    font-family: "Coolvetica-Regular";
    src: url(Fonts/Coolvetica-Regular.otf);
    font-display: swap;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: "Coolvetica-Regular", sans-serif;
    letter-spacing: 1px;
    background-color: hsl(195, 53%, 79%);
    background-image: url("assets/backgroundSky.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
}

#title{
    font-size: 3rem;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    color: white;
}

.inputContainer{ /*aligns input text and button*/
    display: flex;
    align-items: flex-start;
}
    .inputWrapper{ /*wraps input text and dropdown*/
        margin-bottom: 30px;
    }
        #myInput{
            width: 184px;
            height: 18.4px;
            padding: 8px;
            border: 1px solid black;
            font-size: 16px;
        }

        #dropdown{ /*(bundle/wraper) of items*/
            position: absolute; /*to not shift the layout*/
            display: none;
            width: 200px;
            max-height: 180px; /*to show 6th element slightly*/
            overflow-y: auto;  /*to create sidebar when overflow*/
            padding-top: 8px;
            padding-bottom: 8px;
            border: 1px solid #0b0b0b;
            background-color: white;
        }
        #dropdown > div{ /*each item*/
            padding: 8px;
            cursor: pointer;
        }
        #dropdown > div:hover{
            background-color: #f0f0f0;
        }
        #dropdown > div.selected{
            background-color: #f0f0f0;
        }

    #myButton{ /*sumbit button*/
        height: 36px; /*here height accounts for padding and border, so it's 36px !!IN TOTAL!!*/
        padding: 8px;
        border: 1px solid black;
    }

#winner-container{ /*winner text*/
    position: relative;
    display: none;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 3px solid hsl(195, 70%, 40%);   
    border-radius: 5px;
    color: hsl(195, 100%, 15%);
    background-color: hsl(195, 85%, 90%);;
}
    #winner-text{
        font-size: 2rem;
        line-height: 50px;
        white-space: pre-line;
    }
    #clipboardButton{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 70px;
        height: 70px;
    }
    #clipboardButton:hover{
        cursor: pointer;
    }

#scrollableContainer{
    width: 80%;
    overflow-x: auto;
}

#answers-label{ 
    display: none;
    gap: 10px; /*gap between elements*/
    justify-content: center;
    min-width: max-content;
    margin-bottom: 10px; /*spacing between rows*/   
}
    .newLabel{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 50px;
        border-bottom: 3px solid rgb(255, 255, 255);
        text-align: center;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
        color: white;
    }

#answers-container{ /*all answers wraper*/
    display: flex;
    flex-direction: column-reverse; /*old answers go down off the screen*/
}
    .newAnswer{ /*each (answer/row)*/
        display: flex;
        justify-content: center;
        gap: 5px; /*gap between elements*/
        min-width: max-content;
        margin-bottom: 10px; /*spacing between rows*/
    }
        .newCharacteristic{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 80px;
            height: 80px;
            border: 3px solid rgb(0, 0, 0);
            text-align: center;
            background-color: rgb(255, 119, 119);
            visibility: hidden;
        }
        .contem{ /*if vibes includes characteristic*/
            background-color: rgb(216, 216, 73);
        }
        .certo{ /*if characteristic matches*/
            background-color: rgb(116, 255, 116);
        }

#color-info{
    position: relative;
    display: none;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 3px solid hsl(195, 70%, 40%);   
    border-radius: 5px;
    color: hsl(195, 100%, 15%);
    background-color: hsl(195, 85%, 90%);; 
}
    #close-button{
        position: absolute;
        top: -10px;
        right: -10px;
        width: 40px;
        height: 40px;
    }
    #color-text{
        font-size: 20px;
        white-space: pre-line;
    }

.timeout{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(-50%, -50%);
}

#gitHubW{
    position: fixed;
    bottom: 40px;
    left: 40px;
}

.pop {
    animation: pop 0.4s ease-in-out;
}

@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}